.lessonList {
  > section {
    display: flex;
    flex-direction: row;
    margin: 5px;
    gap: 10px;

    > div {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
    }
  }

  > div {
    display: flex;
    flex-direction: column;
    gap: 20px;

    > div {
      padding: 20px;
      background-color: var(--bs-gray-200);
      border-radius: 15px;
      > div {
        display: flex;
        flex-direction: row;
        gap: 20px;
      }
    }
  }
}

.reorder {
  display: flex;
  flex-direction: column;
  gap: 20px;

  > div {
    > h3 {
      margin: 0;
    }

    > div {
      background-color: var(--bs-gray-200);
      padding: 20px;
      border-radius: 15px;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;

      > div {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }
  }
}
