.courseListingWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.browse {
  > form {
    margin: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    > div {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 10px;
      margin: 0;
      > div {
        display: flex;
        flex-direction: row;
        gap: 5px;
        align-items: center;
      }
    }
  }

  > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
