.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  p {
    margin: 0;
  }
}
