.signinContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    > .sideby {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
    }
  }
}
