.form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  img {
    width: 200px;
    height: 200px;
    align-self: center;
  }

  > div {
    width: 100%;
    display: flex;
    flex-direction: column;

    > input[type="file"] {
      width: fit-content;
      align-self: center;
    }

    > p {
      margin: 0px;
    }

    > label {
      margin: 0px;
      text-align: center;
      font-weight: 500;
    }
  }
}

.sideBy {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}
